@model ParkingPlace
@{ 

string imgSrc = "/images/" + @Model.Sted + ".png"; 

<div class="col-sm-12 col-xs-12">
    <div class="row">
        <h1 style="color: #777; letter-spacing: 8px;" class="text-center"> @Model.Sted</h1>
        <a asp-action="Details" asp-route-id="@Model.Sted">
            <img src="@imgSrc" alt="Image" style ="object-fit: cover; max-height: 325px;" class="col-sm-12 col-xs-12">
        </a>
        <p style="color: #777; letter-spacing: 5px; font-size: 17px; margin-left: 10px;"></p>
    </div>

    <div class="row" style="margin: 15px;">
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" style="width:@Model.ProsentFull%">
                @Model.ProsentFull % full
            </div>
        </div>
    </div>
</div>
}